/* Base */

a {
    color: #e34f26;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #e83503;
}

a .fa, a .fab {
    font-weight: normal;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    padding: 1px 0 1px 20px;
    color: #ffffff;
    background: #333;
    margin-top: 20px;
}

div.sec {
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

div.white-sec {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.h-prefix {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #00ffffa8;
}
/* Socials */

section#social {
    padding: 15px;
    color: #ffffff;
    background: #333;
}

section#social h1 {
    float:left;
}

section#social #social-buttons {
    float: right;
    margin-top:5px;
}

#social-buttons > a > div > img {
    height: 21px;
}
#social-buttons > a {
    float: left;
    margin: 10px;
}

#social-buttons a {
    color: #eee;
}

#social-buttons a:hover {
    color: #b7b3b2;
}

/* Skills */

section#skills {
    margin-top: 20px;
}

section#skills .box{
    float: left;
    width: 33%;
    text-align: center;
}

section#skills .box > div > h3 {
    color: white;
}

section#skills .box > div,
section#projects .box > div {
    border: 1px solid #3d3f42;
    margin: 15px;
    padding: 15px;
    color: white;
    background-color: #3a3c3e;
}

section#skills .box img{
    height: 90px;
}

#skills > h1, #projects > h1 {

    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}

/* Responsive */

@media(max-width: 768px){
    section#skills .box, #social-buttons > a {
        float: none;
        text-align: center;
        width: 100%;
    }

    div.sec {
        padding: 1px;
    }

    .h-prefix {
        float: none;
        font-weight: normal;
        font-size: 12px;
        margin-bottom: -20px !important;
        display: block;
        margin-top: 20px;
    }
}

/* Roundup */

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url(http://www.diena.lt/sites/default/files/Vilniausdiena/Vartotoju%20zona/v.virkutyte/code-2620118_960_720.jpg);
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url(https://cdn-images-1.medium.com/max/2000/1*cCdSJ0mOqjQkm-soL5hlIw.jpeg);
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("../img/hero.jpg");
    min-height: 400px;
  }

  .bgimg-1 .caption {
      text-transform: uppercase;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .caption span.in-border {
    background-color:#424242b8;
    font-size:25px;
    color: #f7f7f7;
    text-transform: uppercase;
    }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }