@import 'helpers';

.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
	background-color: #fff;
  }
  @media (min-width: 768px) {
	.jumbotron {
	  padding-top: 6rem;
	  padding-bottom: 6rem;
	}
  }
  
  .jumbotron p:last-child {
	margin-bottom: 0;
  }
  
  .jumbotron-heading {
	font-weight: 300;
  }
  
  .jumbotron .container {
	max-width: 40rem;
  }

  .text-muted svg {
	fill: #6c757d;
}

  .text-muted svg[role="img"] {
	  fill: white;
	}
	
	.album > .container > h1.text-muted {
		text-align: center;
		margin-top: 70px;
    margin-bottom: 30px;
}

.album > .container > h1.text-muted > svg {
    height: 50px;
}

.svg-github, .svg-hyperlink {
	height: 15px;
}